In [9]:
#import libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.svm import SVR
from sklearn import metrics

In [10]:
#import data
df = pd.DataFrame(pd.read_csv(r'C:\Users\ibrah\OneDrive\Desktop\Intro to ML\HW4\Housing.csv'))
df.head() # To get first n rows from the dataset default value of n is 5
#m = len(df)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [11]:
#pre-process data - yes & no to binary
varlist = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

#delete furnished lined
del df['furnishingstatus']

#define map function
def binary_map(x):
    return x.map({'yes': 1, "no": 0})

#Apply fucntion
df[varlist] = df[varlist].apply(binary_map)

In [12]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,1,0,0,0,1,2,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0

In [13]:
#scale the set
df = StandardScaler().fit_transform(df) 
#Split Data set into Training Data and Test Data.
#np.random.seed(0)
#df_train,df_test = train_test_split(df, train_size=0.8, test_size=0.2)
#mT = len(df_train)
#mV = len(df_test)

In [14]:
Y = df[:, 1]
X = df[:, 2:12]

Xd = pd.DataFrame(X)

In [18]:
for k in range(1, 11):
    #Apply pca
    pca = PCA(n_components=k) 
    principalComponents = pca.fit_transform(Xd) 
    principalDf = pd.DataFrame(data = principalComponents) 
    
    #split set into training(0.8) and validations(0.2) sets
    X_train, X_test, Y_train, Y_test = train_test_split(principalDf, Y, test_size = 0.2)
    
    svr_rbf = SVR(kernel='rbf', C=1, gamma=0.1)
    svr_lin = SVR(kernel='linear', C=1)
    svr_poly = SVR(kernel='poly', C=1)
    
    y_rbf = svr_rbf.fit(X_train, Y_train).predict(X_test)
    y_lin = svr_lin.fit(X_train, Y_train).predict(X_test)
    y_poly = svr_poly.fit(X_train, Y_train).predict(X_test)
    
    MSE_rbf = metrics.mean_squared_error(Y_test, y_rbf)
    MSE_lin = metrics.mean_squared_error(Y_test, y_lin)
    MSE_poly = metrics.mean_squared_error(Y_test, y_poly)
    #Apply the model to the validation set
    print("MSE for rbf with K = ", k , "is ", MSE_rbf)
    print("MSE for linear with K = ", k , "is ", MSE_lin)
    print("MSE for poly with K = ", k , "is ", MSE_poly)
    print("\n")

MSE for rbf with K =  1 is  0.9364842122899597
MSE for linear with K =  1 is  0.9432431078358675
MSE for poly with K =  1 is  0.9567896865843192


MSE for rbf with K =  2 is  0.7461642980444219
MSE for linear with K =  2 is  0.7358966983093809
MSE for poly with K =  2 is  0.9667469181495805


MSE for rbf with K =  3 is  1.0644652677924418
MSE for linear with K =  3 is  1.0527008700155693
MSE for poly with K =  3 is  1.1627349273585685


MSE for rbf with K =  4 is  1.306052374052734
MSE for linear with K =  4 is  1.2734760640486276
MSE for poly with K =  4 is  1.432127112270464


MSE for rbf with K =  5 is  1.0824871536511245
MSE for linear with K =  5 is  1.0470333923920194
MSE for poly with K =  5 is  1.4509080799192278


MSE for rbf with K =  6 is  0.7571568607766588
MSE for linear with K =  6 is  0.7122995153677006
MSE for poly with K =  6 is  0.8508385664251554


MSE for rbf with K =  7 is  1.0964496755575381
MSE for linear with K =  7 is  0.9972720159336
MSE for poly with K =  7 is  1.4818409193807551


MSE for rbf with K =  8 is  0.797051678919083
MSE for linear with K =  8 is  0.7780112659976994
MSE for poly with K =  8 is  0.8928351681712465


MSE for rbf with K =  9 is  1.0200094301616394
MSE for linear with K =  9 is  0.8927318162003457
MSE for poly with K =  9 is  1.1374461399526408


MSE for rbf with K =  10 is  0.7036077173140493
MSE for linear with K =  10 is  0.5987853897260417
MSE for poly with K =  10 is  0.7878172903289684